-r requirements.txt
black
deepdiff
invoke
pip-tools>=6.13.0
pre-commit
pytest
pytest-env
pytest-flask
pytest-mock==3.14.0
pip-tools>=6.13.0
json2html==1.3.0
moto[s3,sqs]==5.0.10
colored
debugpy
Flake8-pyproject
