#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=2.0.50,<2.1.0

requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask
flask_apscheduler

#-----------------------------------
#   Database
#-----------------------------------

SQLAlchemy>=2.0.23
Flask-SQLAlchemy>=3.0.3
Flask-Migrate>=4.0.5
sqlalchemy-utils>=0.41.1
psycopg2-binary==2.9.6
marshmallow-sqlalchemy>=0.29.0
alembic-utils>=0.8.1

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance
requests
swagger-ui-bundle

dataclass_dict_convert
jsonpath-rw-ext
