#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=1.0.5
requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask

#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary
alembic-utils
marshmallow-sqlalchemy

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance
requests
SQLAlchemy
swagger-ui-bundle
sqlalchemy-utils
