#-----------------------------------
#   FSD Utils
#-----------------------------------
funding-service-design-utils>=2.0.1,<2.1.0

requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask

#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy[mypy]
Flask-SQLAlchemy>=3.0.3
Flask-Migrate
psycopg2-binary==2.9.6
alembic-utils
marshmallow-sqlalchemy

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion
swagger-ui-bundle
openapi-spec-validator
prance
requests
SQLAlchemy
swagger-ui-bundle
sqlalchemy-utils

dataclass_dict_convert
jsonpath-rw-ext
